
html{
scroll-behavior: smooth;
}
#barnavigation{
    font-size: 17px;
    position: fixed;
}
#barnavigation a:hover{
    color:white;
}

#footer{
  background-color: #2a130f;
  color: #52c498;
}
#footer a{
  color: #52c498;
}
#main{
  background-color: #52c498;
  height: 100vh;
}
#main p{
  font-size: 22px;
}
#imagenavatar{
  margin: auto;
  display: block;
  box-shadow: 0px 0px 56px 7px rgba(0,0,0,0.75);
}
#colimg img{
  height: 40vh;
}
main p{
  color: rgb(66, 4, 13);
}

#certificaciones{
  background-color: #21838a;
}
#certificaciones img {
  max-width: 100%
}

#certificaciones img:hover{
  box-shadow: 0px 0px 42px 7px rgba(8,247,95,1);
}

#footer img:hover{
  box-shadow: 0px 0px 0px 0px;
}


#downarrow{
  transform: rotate(90deg);
  animation-name: animacion1;
  animation-duration: 2s;
  animation-iteration-count: infinite ;
}



@keyframes animacion1 {
  0%   {margin-top:0px;}
  25%  {margin-top:20px;}
  50%  {margin-top:0px;}
  75%  {margin-top:20px;}
  100% {margin-top:0px;}
}
